* {
        margin: 0%;
        padding: 0%;
        font-family: sans-serif;
        scroll-behavior: smooth;
}

.extra-btn1{
        position: fixed;
        bottom: 10px;
        left: 10px;
        z-index: 999;
        background: red;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
}

.extra-btn2{
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 999;
        background: green;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
}

/* heading */


.heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px 40px;
        background-color: #000;
        color: #fff;
        z-index: 999;
        animation: slide linear;
        animation-timeline: view();
        animation-range: 0% cover 40%;
}

.heading select {
        border: none;
        outline: none;
        background: transparent;
        color: #fff;
}

.logo {
        width: 50px;
        height: 50px;
}

.heading select option {
        color: #000;
}


/* navbar */


.navbar {
        transform: translateY(-5px);
        transition: all 0.3s ease-in-out;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        animation: slide linear;
        animation-timeline: view();
        animation-range: 0% cover 40%;
}

.nav-bar {
        background-color: #1E3A8A;
}

.nav-item {
        color: antiquewhite;
}

.active {
        animation: bounce 2s;
        animation-iteration-count: unset;

}

.active:hover {
        text-decoration: underline;
        color: antiquewhite;
}

@keyframes bounce {

        0%,
        20%,
        50%,
        80%,
        100% {
                transform: translateY(0);
        }

        40% {
                transform: translateY(-15px);
        }

        60% {
                transform: translateY(-7px);
        }
}

.btn {
        background-color: #9FB1BC;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
}

.top {
        color: aliceblue;
}


/* slider */


.slide {
        transform: translateY(-5px);
        transition: all 0.3s ease-in-out;
        animation: slide linear;
        animation-timeline: view();
        animation-range: 0% cover 40%;
}


/* About us */


.about-us {
        border: 1px solid #000;
        border-radius: 8px;
        animation: slide linear;
        animation-timeline: view();
        animation-range: 0% cover 40%;
}

@keyframes slide {
        from {
                scale: 0.4;
                opacity: 0;
        }

        to {
                scale: 1;
                opacity: 1;
        }
}

.about-text {
        text-align: center;
        padding: 20px;
        font-size: 18px;
}

.about-img {
        padding: 10px;
}


/* Cources */


.top {
        animation: fadeIn 3s ease-in-out infinite;
        animation: slide linear;
        animation-timeline: view();
        animation-range: 0% cover 40%;
}

@keyframes fadeIn {
        0% {
                opacity: 0;
        }

        100% {
                opacity: 1;
        }
}

.under-line {
        width: 100px;
        height: 5px;
        background: linear-gradient(to right, #6817cb, #4009e4);
        margin: 0 auto;
        margin-bottom: 20px;
        animation: slide linear;
        animation-timeline: view();
        animation-range: 0% cover 40%;
        animation: fadeIn 3s ,change 2s ease-in-out infinite;
}

@keyframes change {
        0% {
                background: linear-gradient(to right, #6817cb, #4009e4);
        }

        50% {
                background: linear-gradient(to right, #4009e4, #6817cb);
        }

        100% {
                background: linear-gradient(to right, #6817cb, #4009e4);
        }
}

.inter-cources {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
        animation: slide linear;
        animation-timeline: view();
        animation-range: 0% cover 40%;
        cursor: pointer;
}

.card-title {
        cursor: pointer;
}

.card-text {
        color: aliceblue;
}

.card-link {
        color: #fff;
        text-decoration: none;
        text-align: end;
        align-items: end;
}

.card-link:hover {
        text-decoration: underline;
        color: #182ac5;
}

.card-pulse {
        border: 1px solid #000;
        border-radius: 8px;
        animation: pulse 2s infinite;
}

@keyframes pulse {
        0% {
                transform: scale(1);
        }

        50% {
                transform: scale(1.05);
        }

        100% {
                transform: scale(1);
        }
}

.inter-cources>.card-pulse:not(:hover) {
        filter: blur(3px);
        opacity: 0.5;
}


/* Features */


.features {
        border: 1px solid #000;
        border-radius: 8px;
        align-items: center;
        justify-content: center;
        animation: slide linear;
        animation-timeline: view();
        animation-range: 0% cover 40%;
}

.features .card {
        border-radius: 10px;
        padding: 20px;
        color: #333;
        cursor: pointer;
        text-align: center;
}

.features .card:hover {
        transition: all 0.3s ease-in-out;
        transform: scale(1.05);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}


/* Notice */

.notice {
        gap: 20px;
        cursor: pointer;
        animation: slide linear;
        animation-timeline: view();
        animation-range: 0% cover 40%;
}

.notice-card {
        border-radius: 20px;       
}

.notice-card:hover {
        transition: all 0.3s ease-in-out;
        transform: translateY(-5px);
        box-shadow: 0 0 10px #0ff;
}

.notice-border {
        padding: 20px;
        border: 1px solid #0ff;
}

.notice-border p{
        color: #333;
}


/* Contact */


.contact-us{
        animation: slide linear;
        animation-timeline: view();
        animation-range: 0% cover 40%;
}

.contact-btn {
        text-align: center;
        align-items: center;
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
}

.footer-form {
        background: white;
        padding: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Footer */

.foot{
        padding: 20px;
}

.foot-link ul{
        text-decoration: none;
}

.foot-link ul:hover{
        text-decoration: underline;
        color: #ffffff;
}

.footer.line{
        width: 300px;
        height: 5px;
        background: linear-gradient(to right, #6817cb, #4009e4);
        margin: 0 auto;
        margin-bottom: 20px;
        animation: change 3s ease-in-out infinite;
}

#foot-main{
        margin: 0%;
}